<%= content_tag :h1, "Order # #{params[:id]}" %>

<ul>
  <% @item_orders.each do |item_order| %>
  <% if item_order.status != "fulfilled" %>
  <li><%= content_tag :p, item_order.item.name %></li>
  <%= button_to "Fulfill", "/merchant/", method: :patch, id: "item_order-#{item_order.id}", params: {item_order_id: item_order.id} %>
  <% end %>
  <% end %>
</ul>
